:root {
  --color-background: rgb(255, 181, 243);
  --axis-x: 3px;
  --axis-y: 20px;
  --delay: 15;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #0004ff;
}

/*

   fonts

*/
@font-face {
  font-family: 'Righteous';
  src: url(/static/fonts/Righteous.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway';
  src: url(/static/fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: 'Raleway-light';
  src: url(/static/fonts/Raleway-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

/*

   rainbow main text

*/
.c-rainbow {
  counter-reset: rainbow;
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-rainbow__layer {
  --text-color: var(--color-foreground);
  counter-increment: rainbow;
  font-size: 7rem;
  font-family: 'Righteous';
  color: var(--text-color);
  text-align: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-shadow: -1px -1px 0 #ffb5f3, 1px -1px 0 #ffb5f3, -1px 1px 0 #ffb5f3, 1px 1px 0 #ffb5f3;
  -webkit-animation: rainbow 1.5s ease-in-out infinite;
          animation: rainbow 1.5s ease-in-out infinite;
}

.c-rainbow__layer:nth-child(1) {
  -webkit-animation-delay: calc( 1 / var(--delay) * 1s);
          animation-delay: calc( 1 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 1);
  z-index: -10;
}

.c-rainbow__layer:nth-child(2) {
  -webkit-animation-delay: calc( 2 / var(--delay) * 1s);
          animation-delay: calc( 2 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 2);
  z-index: -20;
}

.c-rainbow__layer:nth-child(3) {
  -webkit-animation-delay: calc( 3 / var(--delay) * 1s);
          animation-delay: calc( 3 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 3);
  z-index: -30;
}

.c-rainbow__layer:nth-child(4) {
  -webkit-animation-delay: calc( 4 / var(--delay) * 1s);
          animation-delay: calc( 4 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 4);
  z-index: -40;
}

.c-rainbow__layer:nth-child(5) {
  -webkit-animation-delay: calc( 5 / var(--delay) * 1s);
          animation-delay: calc( 5 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 5);
  z-index: -50;
}

.c-rainbow__layer:nth-child(6) {
  -webkit-animation-delay: calc( 6 / var(--delay) * 1s);
          animation-delay: calc( 6 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 6);
  z-index: -60;
}

.c-rainbow__layer:nth-child(7) {
  -webkit-animation-delay: calc( 7 / var(--delay) * 1s);
          animation-delay: calc( 7 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 7);
  z-index: -70;
}

.c-rainbow__layer:nth-child(8) {
  -webkit-animation-delay: calc( 8 / var(--delay) * 1s);
          animation-delay: calc( 8 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 8);
  z-index: -80;
}

.c-rainbow__layer:nth-child(9) {
  -webkit-animation-delay: calc( 9 / var(--delay) * 1s);
          animation-delay: calc( 9 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 9);
  z-index: -90;
}

.c-rainbow__layer:nth-child(10) {
  -webkit-animation-delay: calc( 10 / var(--delay) * 1s);
          animation-delay: calc( 10 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 10);
  z-index: -100;
}

.c-rainbow__layer:nth-child(11) {
  -webkit-animation-delay: calc( 11 / var(--delay) * 1s);
          animation-delay: calc( 11 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 11);
  z-index: -110;
}

.c-rainbow__layer:nth-child(12) {
  -webkit-animation-delay: calc( 12 / var(--delay) * 1s);
          animation-delay: calc( 12 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 12);
  z-index: -120;
}

.c-rainbow__layer:nth-child(13) {
  -webkit-animation-delay: calc( 13 / var(--delay) * 1s);
          animation-delay: calc( 13 / var(--delay) * 1s);
  left: calc(var(--axis-x) * 13);
  z-index: -130;
}

.c-rainbow__layer:not(:first-child) {
  position: absolute;
  top: 0;
}

.c-rainbow__layer--blue {
  --text-color: var(--color-blue);
}

@-webkit-keyframes rainbow {
  0%, 100% {
    -webkit-transform: translatey(var(--axis-y));
            transform: translatey(var(--axis-y));
  }
  50% {
    -webkit-transform: translatey(calc(var(--axis-y) * -1));
            transform: translatey(calc(var(--axis-y) * -1));
  }
}

@keyframes rainbow {
  0%, 100% {
    -webkit-transform: translatey(var(--axis-y));
            transform: translatey(var(--axis-y));
  }
  50% {
    -webkit-transform: translatey(calc(var(--axis-y) * -1));
            transform: translatey(calc(var(--axis-y) * -1));
  }
}

/*

   social icons

*/
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  float: right;
  width: 300px;
  margin-top: 70px;
  font-family: 'Raleway';
}

#linkedin {
  text-decoration: none;
  color: var(--color-blue);
}

#insta {
  margin-left: 20px;
  text-decoration: none;
  color: var(--color-blue);
}

#linkedin:hover {
  text-decoration: underline;
}

#insta:hover {
  text-decoration: underline;
}

.dropbtn {
  background: none;
  padding-left: 20px;
  border: none;
  color: var(--color-blue);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background: none;
  width: 60px;
  z-index: 1;
}

.drop-content a {
  color: var(--color-blue);
  font-family: 'Raleway';
  padding: 10px 0 0 0;
  text-decoration: none;
  display: block;
}

.drop-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .drop-content {
  display: block;
}

/*

   abt me page 

*/
.dragons {
  position: absolute;
  z-index: -1;
}

.dragon {
  position: absolute;
  margin-left: -950px;
}

.dragon2 {
  margin-left: 350px;
  padding-top: 200px;
}

.dot {
  position: absolute;
  z-index: -1;
}

.dots {
  position: absolute;
  margin-left: 950px;
  padding-top: 100px;
}

.dots2 {
  position: absolute;
  margin-left: -10px;
  margin-top: -80px;
}

.abt {
  position: absolute;
  margin-left: -110px;
  margin-top: 30px;
  color: #ffb5f3;
  width: 400px;
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Raleway';
  text-align: right;
}

/*

   head

*/
.container2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 60px 0 0 100px;
  top: 0;
  bottom: 380px;
  width: 50px;
  height: 50px;
}

.container2 div {
  position: absolute;
}

.container2 .me {
  left: 0;
  position: absolute;
  right: 0;
  margin: 0 0;
  width: 0px;
  height: 80px;
}

.container2 .me .head {
  width: 70px;
  height: 90px;
  background: blue;
  top: 10px;
  left: 5px;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid #ffb5f3;
}

.container2 .me .head .bangs {
  height: 40px;
  width: 94%;
  background: blue;
  border-radius: 100px 100px 10px 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  position: absolute;
  top: -12px;
  left: 3px;
  border-bottom: 2px solid #ffb5f3;
}

.container2 .me .look-left.head {
  width: 70px;
  left: -10px;
}

.container2 .me .look-left.head .bangs {
  width: 106%;
  left: -7px;
}

.container2 .me .look-right.head {
  width: 70px;
  left: 15px;
}

.container2 .me .look-right.head .bangs {
  width: 106%;
  left: 5px;
}

.container2 .me .look-down.head {
  height: 90px;
  top: 20px;
  width: 70px;
  left: 5px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.container2 .me .look-down.head .bangs {
  height: 80px;
  top: -32px;
}

.container2 .me .look-up.head {
  height: 90px;
  top: 0px;
  width: 70px;
  left: 5px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.container2 .me .look-up.head .bangs {
  height: 40px;
  top: -12px;
}

.container2 .me .look-down-right.head {
  top: 20px;
  left: 25px;
  width: 70px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.container2 .me .look-down-right.head .bangs {
  height: 50px;
  width: 106%;
}

.container2 .me .look-up-right.head {
  height: 90px;
  top: 0px;
  width: 70px;
  left: 15px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.container2 .me .look-up-right.head .bangs {
  width: 105%;
  height: 40px;
  top: -12px;
  left: 5px;
}

.container2 .me .look-down-left.head {
  top: 20px;
  left: -15px;
  width: 70px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.container2 .me .look-down-left.head .bangs {
  height: 50px;
  width: 106%;
  left: -10px;
}

.container2 .me .look-up-left.head {
  height: 90px;
  top: 0px;
  width: 70px;
  left: -10px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.container2 .me .look-up-left.head .bangs {
  width: 105%;
  height: 40px;
  top: -12px;
  left: -10px;
}

.container2 .me .neck {
  height: 40px;
  width: 20px;
  position: absolute;
  background: blue;
  top: 80px;
  left: 30px;
  overflow: hidden;
  border-radius: 0px 0px 100px 100px;
  border: 2px solid #ffb5f3;
}

.container2 .me .neck:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  top: -12px;
  background: #0000eb;
  left: -18px;
  border-radius: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container2 .me .neck.look-left:before {
  left: -38px;
}

.container2 .me .neck.look-right:before {
  left: -5px;
}

.container2 .me .neck.look-down:before {
  top: -5px;
}

.container2 .me .neck.look-up:before {
  top: -22px;
}

.container2 .me .neck.look-down-right:before {
  left: -2px;
  top: -5px;
}

.container2 .me .neck.look-up-right:before {
  left: -10px;
  top: -20px;
}

.container2 .me .neck.look-down-left:before {
  left: -38px;
  top: -5px;
}

.container2 .me .neck.look-up-left:before {
  left: -38px;
  top: -20px;
}

.container2 .me .hair {
  position: absolute;
  height: 170px;
  width: 105px;
  background: blue;
  left: -12px;
  top: -12px;
  overflow: hidden;
  border-radius: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid #ffb5f3;
}

.container2 .me .hair:after {
  content: "";
  position: absolute;
  width: 80px;
  height: 160px;
  background: #0000f5;
  top: 60px;
  left: 12px;
  border-radius: 25px;
}

.container2 .me .hair.look-left {
  left: -5px;
  width: 100px;
}

.container2 .me .hair.look-right {
  left: -17px;
  width: 100px;
}

.container2 .me .hair.look-down {
  top: -12px;
  height: 165px;
}

.container2 .me .hair.look-up {
  top: -8px;
  height: 180px;
}

.container2 .me .hair.look-down-right {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.container2 .me .hair.look-up-right {
  left: -25px;
  top: -8px;
  height: 180px;
}

.container2 .me .hair.look-down-left {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.container2 .me .hair.look-up-left {
  left: -8px;
  top: -8px;
  height: 180px;
}

.container2 .me .clothes {
  background: blue;
  width: 80px;
  height: 40px;
  top: 105px;
  overflow: hidden;
  border-radius: 100px 100px 10px 10px;
  border: 2px solid #ffb5f3;
}

.container2 .me .clothes .jumper {
  width: 60px;
  height: 100%;
  top: 60%;
  background: blue;
  left: 0;
  right: 0;
  margin: auto;
}

.container2 .me .clothes .jumper:before {
  background: blue;
  width: 10px;
  height: 50px;
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
}

.container2 .me .clothes .jumper:after {
  background: blue;
  width: 10px;
  height: 50px;
  content: "";
  position: absolute;
  top: -40px;
  left: 50px;
}

.container2 .mouse {
  color: #fff;
  font-size: 30px;
  left: 0;
  top: 210px;
  width: 150px;
  height: 150px;
  margin: auto;
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.container2 .mouse i.fa {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  text-shadow: -4px 6px 0px rgba(0, 0, 0, 0.34);
}

/*

   scroll

*/
#section1 {
  height: 100vh;
}

#section2 {
  height: 100vh;
}

#section3 {
  height: 100vh;
}

#section4 {
  height: 100vh;
}

#section5 {
  height: 500px;
}

/*

   bouncing arrow

*/
.arrow {
  position: relative;
  margin-top: 680px;
  margin-left: 320px;
  width: 40px;
  height: 40px;
  background-image: url("/images/arrowdown.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow2 {
  position: absolute;
  right: 48%;
  bottom: -740px;
  width: 40px;
  height: 40px;
  background-image: url("/images/arrow1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow3 {
  position: absolute;
  margin-top: 330px;
  right: 48%;
  width: 40px;
  height: 40px;
  background-image: url("/images/arrowdown.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.arrow4 {
  position: absolute;
  margin-top: 330px;
  right: 48%;
  width: 40px;
  height: 40px;
  background-image: url("/images/arrow3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

/*

   work

*/
.werkbody {
  display: relative;
  margin-top: 140px;
  margin-left: 65px;
  color: blue;
  width: 1022px;
  text-align: left;
}

.werk {
  font-size: 70px;
  font-family: 'Raleway';
  text-shadow: 4px 4px blue;
  -webkit-text-stroke: 1.1px #ffb5f3;
}

.werksub {
  font-size: 44px;
  font-family: 'Raleway';
  color: pink;
  margin-top: -50px;
  font-style: italic;
  -webkit-text-stroke: 1px #1100ff;
}

#section3 a {
  text-decoration: none;
  color: pink;
  -webkit-text-stroke: 1.1px #ff00d4;
}

#section3 a:hover {
  background-image: url(/images/squiggle.gif);
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.extraTxt {
  font-size: 45px;
  font-family: 'Raleway';
  margin-top: -98px;
  margin-left: 93px;
  font-style: italic;
  width: 250px;
  color: pink;
  -webkit-text-stroke: 1px #ff00ea;
}

.extraTxt:hover {
  background-image: url(/images/squiggle.gif);
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.extra {
  position: absolute;
  display: none;
}

.extraTxt:hover .extra {
  display: inline-block;
  padding-top: 150px;
  left: 25px;
  text-align: left;
  font-size: 25px;
  -webkit-text-stroke: 0.7px #1100ff;
}

.click-here {
  position: absolute;
  display: inline-block;
  right: 440px;
  margin-right: -100px;
  margin-top: -100px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*

   floating balloon

*/
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-40px);
            transform: translatey(-40px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-40px);
            transform: translatey(-40px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.container {
  margin-top: 50px;
}

.avatar {
  width: 500px;
  height: 500px;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

.avatar img {
  width: 100%;
  height: auto;
}

/*

   digital art

*/
.line {
  position: absolute;
  z-index: -1;
  margin-left: -390px;
}

#slideshow {
  overflow: hidden;
  display: inline-block;
  height: 760px;
  width: 438px;
  margin: -15px 0 0 5px;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 766px;
  width: 438px;
}

@-webkit-keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -438px;
  }
  50% {
    margin-left: -438px;
  }
  60% {
    margin-left: -876px;
  }
  70% {
    margin-left: -876px;
  }
  80% {
    margin-left: -1314px;
  }
  90% {
    margin-left: -1314px;
  }
}

.digital-insta {
  position: absolute;
  margin-top: 550px;
  margin-left: -950px;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*

   contact

*/
.contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 260px;
  padding-left: 90px;
  margin-bottom: 0px;
  width: 75%;
  font-size: 6vw;
  color: blue;
  font-family: 'Raleway';
  text-shadow: 5px 5px blue;
  -webkit-text-stroke: 1.1px #ffb5f3;
}

.sub {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 90px;
  width: 70%;
  font-size: 20px;
  color: blue;
  font-family: 'Raleway-light';
  font-style: italic;
}

#section5 a {
  color: #ff00ee;
  text-decoration: none;
}

.contact a:hover {
  background-image: url(/images/squiggle.gif);
  background-position: 0 95%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.sub a:hover {
  background-image: url(/images/squiggle.gif);
  background-position: 0 100%;
  background-size: auto 3px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.panel {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
}

/*

   colours

*/
.color-blue {
  background-color: #0004ff;
}

.color-pink {
  background-color: #ffb5f3;
}

.color-white {
  background-color: white;
}
/*# sourceMappingURL=index.css.map */